body{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header_block{
    color: white;
    background-color: lightseagreen;
    padding: 10px 10px 10px 10px ;
    border-radius: 6px;
    margin-bottom: 20px;
}

#RFD{
    color: white;
    background-color: lightseagreen;
    padding: 10px 10px 10px 10px ;
    border-radius: 6px;
    font-weight: bold;
}

.Lasagna{
    color: white;
    background-color: orchid;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}
.Pasta{
    color: white;
    background-color: orchid;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}
.Cookies{
    color: white;
    background-color: orchid;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}
.Cake{
    color: white;
    background-color: orchid;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}
.RTP{
    color: gray;
    opacity: 50%;    
}
.chef{
    border: 5px solid lightgrey;
    border-radius: 10px;
}
.header_item{
    height: auto;
    width: 69px;
    display:inline-block;
    vertical-align:middle;
    border-radius: 50px ; 
}